


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-weight: min(400) max(700);
    padding: 30px;
}

.container{
    text-align: center;
    padding: 30px;
    width: 250px;
    height: auto 250px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    height: 280px;
    border-radius: 10px;
}

h1{
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}